.input-field.col.s6.graphInput.groupSelectInput
  %select{id: 'groupSelect', multiple: true}
    %option{value: '', disabled: true, selected: true} Choose your option
    %option{id: 'caseSummary', value: 'case_summary'} Case Summary
    %option{id: 'agency', value: 'agency'} Agency
    %option{id: 'division', value: 'division'} Division
    %option{id: 'type', value: 'type'} Type
    %option{id: 'topic', value: 'topic'} Topic
    %option{id: 'councilDistrict', value: 'council_district'} Council District
    %option{id: 'policeDistrict', value: 'police_district'} Police District
    %option{id: 'majorArea', value: 'major_area'} Major Area
    %option{id: 'neighborhood', value: 'neighborhood'} Neighborhood
    %option{id: 'caseStatus', value: 'case_status'} Case Status
  %label Group Select