#landingContainer.page
  .parallax-container
    .parallax
      %img{src: image_url('denver.jpg')}
  .section.white
    .row.container
      %h2.header Test
      %p.grey-text.text-darken-3.lighten-3 Testing analytics
      %p.grey-text.text-darken-3.lighten-3 Testing analytics
      %p.grey-text.text-darken-3.lighten-3 Testing analytics
      %p.grey-text.text-darken-3.lighten-3 Testing analytics
      %p.grey-text.text-darken-3.lighten-3 Testing analytics
      %p.grey-text.text-darken-3.lighten-3 Testing analytics
      %p.grey-text.text-darken-3.lighten-3 Testing analytics