#landingContainer.page
  .parallax-container
    .parallax
      %img{src: image_url('denver.jpg')}
  .section.white
    .row.container
      %h2.header Analytics Project
      %h3.header Info
      %p.grey-text.text-darken-3.lighten-3
        Above you'll fine a link called Viz Data which will let you query the Denver 311 Data set for the
        time of 8/2014 to 8/2015. I've done my best with cleaning the available data and offering graphs
        that best help visualize the data. However due to the large data set and groupings certain combinations
        are hard to read, if a better graph is known feel free to suggest it and I'll make the necessary changes.
        I refer to the data records a lot as complaints but a more neutral term would probably have been better.
      %h3.header Key takeaways
      %p.grey-text.text-darken-3.lighten-3
        There are a number of key takeaways from the dataset, but here are the highlights:
        %ul
          %li The fall/early winter months have the least number of complaints for the most part.
          %li The first police district has the highest number of complaints.
          %li Montebello and Gateway neighborhoods have the highest number of complaints.
          %li The main area by far for complaints is in customer service.
          %li Most complaints are for information.
          %li Most of these information complaints are for vehicle registration.